.autocomplete {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.suggestions {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
}

.suggestions input {
  width: 90%;
  padding: 10px;
  border: none;
  font-size: 16px;
  background-color: #f1f1f1;
}

.suggestions input:focus {
  outline: none;
}

.suggestions ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 210px;
  width: 100%;
  overflow-y: auto;
  border-top: 1px solid #ccc;
}

.country {
  display: flex;
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.country:hover {
  background-color: #ddd;
}

.country-selected {
  background-color: #ddd;
}

.no-match {
  padding: 10px;
}

.highlight {
  font-weight: bold;
}

@media (max-width: 600px) {
  .suggestions {
    width: 90%;
  }
}
